.product-card {
    width: 200px;
    padding: 20px;
    border: 2px solid rgba(100, 100, 100);
    text-align: center;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.price {
    font-size: 22px;
}