@font-face {
    font-family: Lato;
    font-weight: 100;
    font-style: normal;
    src: url(/fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    src: url(/fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 100;
    font-style: italic;
    src: url(/fonts/Lato-ThinItalic.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Lato-BoldItalic.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: italic;
    src: url(/fonts/Lato-BlackItalic.ttf);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
}